<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Protector - Index</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Quantum Protector - Index</h1>
    </header>

    <main>
        <form action="/submit" method="post">
            <label for="https">Is the URL HTTPS?</label>
            <select id="https" name="https">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <label for="favicon">Does the email have a favicon?</label>
            <select id="favicon" name="favicon">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <label for="abnormal-url">Is the URL abnormal?</label>
            <select id="abnormal-url" name="abnormal-url">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Quantum Protector | <a href="https://github.com/MazinAl-Z/quantumprotector" target="_blank">GitHub Repo</a></p>
    </footer>
</body>

</html>
