<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Quantum Protector</title>
</head>

<body class="dark-theme">
  <div class="container">
    <h1>Quantum Protector</h1>
    <p>Enhancing cybersecurity with quantum computing and machine learning.</p>
    
    <form id="choicesForm">
      <label for="httpsChoice">
        <input type="radio" id="httpsChoice" name="choice" value="https">
        Is the URL HTTPS?
      </label>

      <label for="faviconChoice">
        <input type="radio" id="faviconChoice" name="choice" value="favicon">
        Does the email have a favicon?
      </label>

      <label for="urlAbnormalChoice">
        <input type="radio" id="urlAbnormalChoice" name="choice" value="urlAbnormal">
        Is the URL abnormal?
      </label>

      <button class="button-animation" onclick="submitForm()">Submit</button>
    </form>
  </div>
  
  <script src="script.js"></script>
</body>

</html>
